.favorites {
    color: #600000;
}

.newPicks {
    /* float: left; */
}

.thumbnail {
    height: 300px;
    width: 300px;
    border: 5px solid #600000;
    margin-bottom: 5px;
    color: #600000;
}

button {
    font-size: 18px;
}

.sourceButton {
    margin: 5px 20px 10px 0px;
}

#putItHere {
    margin-bottom: 10px;
}

input {
    width: 100%;
}